@charset "utf-8";
/* CSS Document */
body {
	width:100%;
	height:100%;
	background-color:rgb(70,70,70);
	font-family:Calibri,Arial;
}
.outer {
	text-align: center;
}
.wrapper {
	width:1000px;
	min-height: 400px;
	display:inline-block;
}
#header {
	width: 900px;
	display:inline-block;
	margin-top: 15px;
	text-align: right;
	margin-top:5px\9;  /* IE Conditional to fix layout*/
	margin-bottom
} 
#banner {
	width: 400px;
	height: 60px;
	text-align: left;
	color:#f1f1f1;
	float: left;
	margin-bottom: 1em\9;  /* IE Conditional to fix layout*/
}
h1.banner {
	font-size: 38pt;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: 15px;
}
#navbar {
	height: 60px;
	float: right;
}
ul.nav {
	text-decoration: none;
	list-style: none;
	text-align: center;
	height: 60px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
li.nav {
	display: inline-block;
	width: 70px;
	height: 40px;
	padding-top: 20px;
	margin-right: 5px;
	background-color:#f1f1f1;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	border: 3px solid #f1f1f1;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
li.nav:hover {
	background-color:#6c6c6c;
	border: 3px solid #027ABF;
}
a.link {
	text-decoration: none;
	color:#6e6e6e;
	padding-top: 20px;
	padding-bottom: 22px;
	padding-left: 15px;
	padding-right: 16px;
}
a.link:hover {
	color:#fff;
}
h3.title {
	width: 900px;
	display: inline-block;
	background-color:#027ABF;
	color:#f1f1f1;
	text-align:left;
	padding-left: 10px;
	font-size: 18pt;
	-webkit-margin-after: 0em;
	margin-bottom:0em;
	position: relative;
	left: 2px;
	left: 0px\9;  /* IE Conditional to fix layout*/
}
#main-content {
	width: 900px;
	min-height: 300px;
	background-color:#f1f1f1;
	padding: 5px;
	display:inline-block;
}
#footer {
	width: 900px;
	background-color:#C3C3C3;
	display: inline-block;
	padding: 5px;
	position: relative;
	top: -5px;
	left: -3px\9;  /* IE Conditional to fix layout*/
	margin-left: 5px\9;  /* IE Conditional to fix layout*/
	text-align:left;
}
img.float {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	border-radius:7px;
	padding: 7px 7px 10px 7px;
	background-color:rgba(150,150,150,0.2);
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
img.float:hover {
	background-color:#027ABF;
}
p {
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
}
a {
	text-decoration: underline;
	color: #4e4e4e;
}
h4.title {
	color: #6e6e6e;
	font-size: 16pt;
	text-align: left;
	margin: 0;
	border-bottom: 2px ridge #c3c3c3;
	width: 600px;
}
#footer-right {
	float: right;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
	100% { 
	-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg);}
	100% { 
	-moz-transform: rotate(360deg);
	}
}
@-o-keyframes spin {
	0% { -o-transform: rotate(0deg);}
	100% { 
	-o-transform: rotate(360deg);
	}
}
@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg);}
	100% { 
	-ms-transform: rotate(360deg);
	}
}
img.batman-spinner:hover {
	-webkit-animation: spin 0.7s infinite linear;
	-moz-animation: spin 0.7s infinite linear;
	-o-animation: spin 0.7s infinite linear;
	-ms-animation: spin 0.7s infinite linear;
	background-image:url('/SankeX-DuckITProject-151012/SankeX-DuckITProject-6d2714f/DuckIT/images/batman.png');
	z-index: 5;
}